* {
  font-family: "JetBrains Mono", sans-serif;
  color: #a8b2d1;
}

:root {
  --animate-delay: 0.5s;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #388f7b;
  border: 0px none #ffffff;
  border-radius: 39px;
}
::-webkit-scrollbar-thumb:hover {
  background: #388f7b;
}
::-webkit-scrollbar-thumb:active {
  background: #4cae8f;
}
::-webkit-scrollbar-track {
  background: #0b182e;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #0a182e;
}
::-webkit-scrollbar-track:active {
  background: #0b182e;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition:
    opacity 0.8s ease-out,
    transform 0.8s ease-out;
}

.fade-in-title {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.fade-in-section.is-visible,
.fade-in-title.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
